/*
    ======================================
    body
    ======================================
*/
    body {
        margin: 0;
        background-color: #F2F2F2;
        font-family: Arial, Helvetica, sans-serif;
        color: #F2F2F2;
    }
/*
    ======================================
    heading
    ======================================
*/
    h1 {
        text-align: center;
        background-color: #9688F2;
        margin: 0;
        font-size: 60px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .explaination {
        text-align: center;
        background-color: #9688F2;
        margin: 0;
    }

/*
    ======================================
    form
    ======================================
*/
    form {
        display:block;
        background-color: #9688F2;
    }

    label {
        display: block;
        width: 100%;
        text-align: right;

    }
    input {
        width: 500px;
        margin: 8px 200px 8px 16px;
        display: inline;
    }

    .btn {
        text-align: center;
        margin: 5px;
    }
    button {
        background-color: #6383DB;
        color: #F2F2F2;
        border-radius: 5px;
        border: 2px outset #F2F2F2;
        margin: 10px 10px;
        font-size: 24px;
        font-weight: 500;
    }

    button:hover {
        background-color: #79BAF2;
    }

    button:active {
        border: 2px inset #F2F2F2;
        background-color: #6AD991;
    }


/*
    ======================================
    memes
    ======================================
*/

  .memeList {
    display: flex;
  }

  .meme {
    position: relative;
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 10px 10px;
  }

  .image {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
  }

  .gray {
    filter: grayscale(1);
  }

  .top-text,
  .btm-text {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    text-shadow: 4px 0 #000, 0 4px #000,  -4px 0 #000, 0  -4px #000, 4px 4px #000, -4px -4px #000, 4px -4px #000, -4px 4px #000;
    position: absolute;
    width: 400px;
    text-align: center;
  }

  .top-text {
    top: 0px;
  }

  .btm-text {
    bottom: 5px;
  }